.Inicio img {
    width: 30%;
    
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; /* Fondo claro */
    color: #333; /* Color de texto */
}
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card1 img {
    width: 40%;
}
.card2 img{
    width: 40%;
}
.card3 img{
    width: 40%;
}
.card4 img{
    width: 40%;
}
.card5 img{
    width: 40%;
}
.card6 img{
    width: 40%;
}