<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/turnos-style.css">
    <title>Document</title>
</head>

<body>
    <h1> TURNOS </h1>

    <h2>Agregar turno</h2>

    <form method="POST" action="/turnos/post">
        <input type="text" name="id_paciente" placeholder="ID Paciente" required>
        <input type="text" name="horario" placeholder="YYYY-MM-DD HH:MM:SS" required>
        <button class="botones" type="submit">Agregar</button>
    </form>

    <h2>Lista de turnos registrados</h2>

    <ul>
        <% turnos.forEach(turno=> { %>
            <li>
                ID: <%= turno.id %> | ID Paciente: <%= turno.id_paciente %> | Horario: <%= turno.horario %>
                <form action="/api/v1/turnos/<%= turno.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Estas seguro?')">Eliminar</button>
                </form>
            </li>
        <% }) %>
    </ul>

    <h2>Buscar turnos por ID de paciente</h2>
    <form method="GET" action="/api/v1/turnos/id">
        <input type="text" name="id_paciente" placeholder="ID del paciente" required>
        <button type="submit">Buscar</button>
    </form>


</body>

</html>