<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Gestion Clinica Salud+</title>
</head>
<body>
  <h1>Bienvenido clinica Salud+</h1>
  <nav>
    <ul>
      <li><a href="/pacientes">Pacientes</a></li>
      <li><a href="/turnos">Turnos</a></li>
    </ul>
  </nav>
</body>
</html>