<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/ejs-style.css">
  <title>Gestion Clinica Salud+</title>
</head>
<body>

<div>
  <h3>Bienvenido clinica Salud+</h3>

  <nav>
    <ul>
      <li><a href="/pacientes">Pacientes</a></li>
      <li><a href="/turnos">Turnos</a></li>
    </ul>
  </nav>
</div>

</body>
</html>